.contact-page-content {
  animation: fadeUp 0.7s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 125px;

  .contact-page-header {
    font-family: 'Major Mono Display', sans-serif;
    font-size: 2.3rem;
    text-align: left;
    margin-left: 45px;
    margin-bottom: -105px;
    color: $lightblue;
    text-shadow: 4px 5px 0px $grey;
    z-index: 1;
  }

  .contact-form{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $pink;
    border: 1px solid $pink;
    padding: 105px 95px 75px 95px;
    box-shadow: 50px 50px 0px 3px $lightblue;
    border: 20px solid white;
    z-index: 0;
  }

  .contact-info {
    text-align: center;
    margin-top: -55px;
    margin-bottom: 47px;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    font-size: 1.7rem;
    color: white;
  }

  .inputs {
    background-color: $pink;
    border: none;
    padding: 15px 15px 7px 7px;
    width: 300px;
    border-bottom: 1px solid white;

    &:active {
      border-bottom: 1px solid white;
    }
    &:focus {
      outline: none;
      background-color: white;
      color: $grey;
    }
  }

  .inputs::placeholder {
    word-wrap: wrap;
    color: white;
    font-family: 'Major Mono Display', sans-serif;
    font-size: 1.7rem;
  }

  .left-side {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
  }

  .right-side {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;

    .form-input {
      height: 175px;
      input {
        text-align: left;
      }
      .inputs {
        ::placeholder {
          align-self: flex-start;
          color: white;
          font-family: 'Major Mono Display', sans-serif;
          font-size: 1.7rem;    
          border-bottom: 1px solid white;
          border-left: 1px solid white;
        }
      
        &:focus {
          outline: none;
          background-color: white;
          color: $grey;
        }
      }
    }
  }

  button {
    margin-top: 60px;
    font-size: 1.1rem;
    padding: 15px;
    padding-bottom: 25px;
    align-self: flex-end;
    color: white;
    background-color: $lightblue; 
    border: none;

    &:active {
      background-color: white; 
      border: none;
      text-decoration: none;
      box-shadow: 10px 10px 73px -10px rgba(36,36,36,1);
    }

    &:focus {
      outline: none;
    }
  }
}
